<html>
<head>
    <title>Docker Nodejs Demo</title>
    <link rel="stylesheet" href="css/index.css">


    <link href="https://fonts.googleapis.com/css?family=Raleway:200" rel="stylesheet">

</head>

<body>

<span class="main-text">Your NodeJs App is Up And Running</span>

</body>

</html>